<section class="navigation">

	<nav>

		<ul id="navigation" role="navigation">

			<li><a class="home button" href="{{pages.home.url}}">Festival</a></li>
			<li><a class="tickets button" href="{{pages.home.url}}#tickets">Tickets</a></li>
			<!-- li><a class="map button" href="{{pages.home.url}}#map">Map</a></li -->
			<li><a class="schedule button" href="{{pages.schedule.url}}">Schedule</a></li>
			<!--li><a class="about button" href="{{pages.about.url}}">About</a></li -->
			<!--li><a class="screening button" href="{{pages.screening.url}}">Pre-screening</a></li-->
			<li><a class="adoptions button" href="{{pages.adoptions.url}}">Adoptions &amp; Fostering</a></li>
			<li><a class="vendors button" href="{{pages.vendors.url}}">Vendors &amp; Volunteers</a></li>
			<li><a class="sponsors button" href="{{pages.sponsors.url}}">Sponsors</a></li>

		</ul>

	</nav>

</section>
